<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.simplyadvanced.vitalsigns"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestVitalSigns"
            android:label="@string/title_activity_test_vital_signs"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestFacialGestures"
            android:label="@string/title_activity_test_facial_gestures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestBloodPressure"
            android:label="@string/title_activity_test_blood_pressure"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".TestHeartRate"
            android:label="@string/title_activity_test_heart_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestBodyTemperature"
            android:label="@string/title_activity_test_body_temperature"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestRespiratoryRate"
            android:label="@string/title_activity_test_respiratory_rate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestOxygenSaturation"
            android:label="@string/title_activity_test_oxygen_saturation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestPupilDilation"
            android:label="@string/title_activity_test_pupil_dilation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestEyeSaccades"
            android:label="@string/title_activity_test_eye_saccades"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditStats"
            android:label="@string/title_activity_edit_stats"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>